@font-face {
    font-family: "Roboto Mono";
    src: url('RobotoMono-Regular.ttf');
    src: url('RobotoMono-Regular.ttf') format('truetype');
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.tusofiaimg {
    width: 1.5%;
    height: 1.52%;
}


h1 {
    font-family: "Roboto Mono", Calibri, Tahoma, sans-serif;
    /*color: #FFDD44;*/
}

p {
    font-family: "Roboto Mono", Calibri, Tahoma, sans-serif;
    /*color: #FFFFFF;*/
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
}

.footer {
    position:relative;
    bottom:0;
    width:100%;
    padding: 10px 0;
}
